menu Xasin

config XASIN_BLE_ENABLE
	bool "Enable Xasin's BLE"
	depends on BTDM_CONTROLLER_MODE_BLE_ONLY || BTDM_CONTROLLER_MODE_BTDM
	default false
	
config XASIN_BT_SPP_ENABLE
	bool "Enable Xasin's BT SPP"
	depends on BTDM_CONTROLLER_MODE_BR_EDR_ONLY || BTDM_CONTROLLER_MODE_BTDM
	default false
	
endmenu