menu "XNM NetHelpers"
    config PROJECT_NAME
        string "Logging and OTA Project name"
        default "DEV_PROJECT"
    config XNM_AUTOSTART_WIFI
        bool "Autostart WiFi"
        default 1

    menuconfig XNM_NETHELP_INCLUDE_PROPP
        bool "Include a NetHelper global property-point core?"
        default 1
    if XNM_NETHELP_INCLUDE_PROPP
        config XNM_NETHELP_PROPP_UART
            bool "Add a UART PropP instance and enable it."
            default 1
    endif

    menuconfig XNM_NETHELP_BLE_ENABLE
        bool "Activate a global BLE instance"
        default 0
    if XNM_NETHELP_BLE_ENABLE
        config XNM_NETHELP_BLE_ALWAYSON
            bool "Always activate the BLE server"
            default 0
        config XNM_NETHELP_BLE_AUTOCONF
            bool "Activate BLE when no config is present"
            default 1
        config XNM_NETHELP_BLE_CONF_GPIO
            int "Optional pin to check to force config mode (-1 to disable)"
            default -1
        config XNM_NETHELP_BLE_NONETWORK
            bool "Start BLE and go into config mode if network connection fails"
            default 1
        config XNM_NETHELP_BLE_CONFMODE_BLOCK
            bool "Block in BLE-Only config mode"
            default 0
    endif

    menu "WiFi settings"
        config XNM_WIFI_AUTOSTART
            bool "Autostart wifi connection after boot"
            default 1
        config XNM_WIFI_AUTOSTART_OTA
            bool "Autostart WiFi connection if the OTA download flag is set"
            default 1
        config XNM_WIFI_DEFAULT_SSID
            string "Default SSID to connect to"
        config XNM_WIFI_DEFAULT_PASSWORD
            string "Default password to use to connect"
        config XNM_WIFI_PSMODE
            int "Default power-save mode"
            default 0
        config XNM_WIFI_LOAD_NVS
            bool "Load WiFi setting from NVS"
            default 1
        config XNM_WIFI_FIRST_MAX_RETRIES
            int "Default retry count before stopping"
            default 3
        config XNM_WIFI_CONNECTED_MAX_RETRIES
            int "Default retry count after successful connection (0 = infinite)"
            default 0
        config XNM_WIFI_MIN_RETRY_TIME
            int "Minimum time before retry (in ms)"
            default 100
        config XNM_WIFI_MAX_RETRY_TIME
            int "Maximum time between retries (in ms)"
            default 20000
    endmenu

    config XNM_OTA_BOOTCHECK
        bool "Check the OTA version after WiFi connected and perform a OTA download"
        default 1

    menuconfig XNM_NETHELP_MQTT_ENABLE
        bool "Include a global MQTT instance"
        default 1
    if XNM_NETHELP_MQTT_ENABLE   
        config XNM_NETHELP_MQTT_CON_TIME
            int "Time (ms) to wait for MQTT connection before assuming the server is offline."
            default 20000
        config AUTOSTART_MQTT_LOG_REDIR
            bool "Start MQTT Log Relay on init"
            default 1
        config AUTOSTART_MQTT_OTA_CHECK
            bool "Use MQTT to check for updated versions and reboot"
            default 0
    endif

    config ENABLE_BLE_LOG_REDIR
        default 1
    
    config AUTOCONFIG_DEVICE_NAME
        bool "Use WiFi MAC as device ID"
        default 1
endmenu